@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/
@media only screen and (min-width: 2000px)
{
	.logo {
    width: 10% !important;
    left: 500px !important;
}
	.main_nav {
    margin-left: 900px !important;
}
	
}
/************
1. 1840px
************/

@media only screen and (max-width: 1840px)
{
	.main_nav
	{
	    margin-left: 143px;
	}
}
@media only screen and (min-width: 1800px)
{
	.logo {
    width: 10% !important;
    left: 300px !important;
}
	.main_nav {
    margin-left: 600px !important;
}
	
}
/************
1. 1760px
************/

@media only screen and (max-width: 1760px)
{
	.work_hours
	{
	    display: none;
	}
}

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	.main_nav
	{
		margin-left: 54px;
	}
}

@media only screen and (min-width: 1600px)
{
	.logo {
    width: 10% !important;
    left: 200px;
}
	.main_nav {
    margin-left: 500px ;
}
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	.header_phone
	{
		display: none;
	}
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	.main_nav ul li:not(:last-child)
	{
		margin-right: 29px;
	}
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.header_button
	{
		display: none;
	}
	.home
	{
		height: 525px;
	}
	.cd-resize-img
	{
		right: 0px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.main_nav,
	.header_social
	{
		display: none;
	}
	.hamburger
	{
		display: block;
	}
	.price_col:nth-last-child(n+3)
	{
		margin-bottom: 0px;
	}
	.price_col:not(:last-child)
	{
		margin-bottom: 57px;
	}
	.cta_phone
	{
		margin-top: 33px;
	}
	.footer_col:not(:last-child)
	{
		margin-bottom: 80px;
	}
	.footer_location,
	.footer_contact
	{
		padding-top: 0;
	}
}

@media (min-width: 991px) and (max-width: 1250px){
.logo img {
    max-width: 100px !important;
}

}
/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.home
	{
		height: 444px;
	}
	.home_container
	{
		top: 200px;
	}
	.home_content
	{
		max-width: 100%;
	}
	.home_title
	{
		font-size: 48px;
	}
	.footer_bar_content
	{
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.footer_nav
	{
		margin-top: 15px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
	}
	h2
	{
		font-size: 36px;
	}
	.header.scrolled .header_content,
	.header_content
	{
		height: 60px;
	}
	.home
	{
		height: 365px;
	}
	.home_container
	{
		top: 154px;
	}
	.home_text
	{
		font-size: 13px;
	}
	.logo a > div:first-child
	{
		font-size: 24px;
	}
	.logo a > div:last-child
	{
		font-size: 10px;
	}
	.section_subtitle
	{
		font-size: 16px;
	}
	.header_content
	{
		padding-left: 15px;
		padding-right: 30px;
	}
	.button
	{
		height: 40px;
	}
	.button a
	{
		font-size: 12px;
		line-height: 36px;
		padding-left: 31px;
		padding-right: 30px;
	}
	.home_title
	{
		font-size: 36px;
	}
	.cta_title
	{
		font-size: 28px;
	}
	.cta_phone
	{
		font-size: 24px;
	}
	.newsletter
	{
		padding-bottom: 67px;
	}
	.newsletter_row
	{
		margin-top: 39px;
	}
	.newsletter_title
	{
		font-size: 24px;
	}
	.newsletter_input
	{
		width: calc(100% - 120px);
		height: 40px;
	}
	.newsletter_input::-webkit-input-placeholder
	{
		font-size: 13px !important;
	}
	.newsletter_input:-moz-placeholder
	{
		font-size: 13px !important;
	}
	.newsletter_input::-moz-placeholder
	{
		font-size: 13px !important;
	} 
	.newsletter_input:-ms-input-placeholder
	{ 
		font-size: 13px !important;
	}
	.newsletter_input::input-placeholder
	{
		font-size: 13px !important;
	}
	.newsletter_button
	{
		width: 142px;
		height: 40px;
		font-size: 12px;
	}
	.opening_hours
	{
		left: auto;
		width: 100%;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	.component-text .cta_text {
     width: 100%; 
    }
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}
@media (min-width: 1440px) and (max-width: 1537px){
	a.header_phone {
    display: none;
}
}